/*****************************************************************************************************************
    Base
*****************************************************************************************************************/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: inherit;
    font-family: inherit;
}

html,
body {
    height: 100%;
}

html {
    box-sizing: border-box;
    font-size: $font-calc-rems;
    font-family: $font-family;
}

body {
    padding-top: 6rem;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}