/*****************************************************************************************************************
    Components - Index
*****************************************************************************************************************/

nav {
    .logo {
        text-transform: uppercase;
    }
}

.darkmode-buttons {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4rem;
    outline: none;
    cursor: pointer;
    border-style: solid;

    &.left {
        border-top-width: .2rem;
        border-right-width: .1rem;
        border-bottom-width: .2rem;
        border-left-width: .2rem;

        border-top-left-radius: .4rem;
        border-bottom-left-radius: .4rem;
    }

    &.right {
        border-top-width: .2rem;
        border-right-width: .2rem;
        border-bottom-width: .2rem;
        border-left-width: .1rem;

        border-top-right-radius: .4rem;
        border-bottom-right-radius: .4rem;
    }
}

.categories {
    padding-top: 4rem;

    li {
        .checkbox-container {
            display: flex;
            align-items: center;
            position: relative;
            padding: .7rem 0 .7rem 6.5rem;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
        
                &:checked ~ .checkbox {
                    &:after {
                        display: block;
                    }
                }
            }
        
            .checkbox {
                position: absolute;
                top: 1rem;
                left: 4rem;
                height: 1.6rem;
                width: 1.6rem;
                border-radius: .4rem;
        
                &:after {
                    display: none;
                    content: '';
                    position: absolute;
                    left: .5rem;
                    top: .1rem;
                    width: .6rem;
                    height: 1.1rem;
                    border-style: solid;
                    border-width: 0 .2rem .2rem 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.search {
    &__container {
        position: relative;
    }
}

.store-search {
    display: block;
    width: 100%;
    outline: none;
    padding: 1.6rem 6rem 1.6rem 2rem;
    border-style: solid;
    border-width: .2rem;
    border-radius: .4rem;
}

.search-controls {
    position: absolute;
    top: .2rem;
    right: .2rem;
    bottom: .2rem;
    padding: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &__icon i,
    &__btn-clear i {
        vertical-align: middle;
    }

    &__btn-clear {
        background: none;
        border: 0;
        outline: none;
        cursor: pointer;

        i {
            user-select: none;
            pointer-events: none;
        }
    }
}

.grid-filters,
.filter-tags {
    margin: 0 2rem;
}

.line {
    margin: 1rem 2rem 0 2rem;
    height: .3rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: .8rem -.8rem 0 0;

    &__tag-item {
        margin: .8rem .8rem 0 0;
    }

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.1rem;
        padding: 0 .8rem;
        border-radius: 50rem;
        text-transform: capitalize;

        i {
            pointer-events: none;
            margin-left: .4rem;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.grid-container {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
}

.card {
    &__img-wrapper {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: .4rem;

        &:hover .card__controls {
            opacity: 1;
            transition: opacity .2s;
        }

        .card__controls {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: opacity .2s;

            display: flex;
            justify-content: center;
            align-items: center;

            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 .5rem;
                padding: 1.2rem 1.35rem;
                outline: none;
                border: 0;
                border-radius: .4rem;
                text-decoration: none;

                i {
                    pointer-events: none;
                }
            }
        }

        .card__img {
            height: 100%;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
    }

    &__desc {
        padding: 1.5rem 0 .1rem 0;
    }

    &__meta-data {
        padding: .5rem 0 .6rem 0;
    }

    &__price {
        display: flex;
        align-items: baseline;
    }
}

.no-search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin-top: 4rem;
        margin-bottom: 1.1rem;
    }

    h4 {
        margin-top: .5rem;
        text-align: center;
    }
}

/*****************************************************************************************************************
    Components - Product Page
*****************************************************************************************************************/

.banner {
    position: relative;
    display: block;
    width: 100%;
    background-repeat: no-repeat;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.product-desc {
    width: 100%;
    position: relative;

    &__name {
        margin-bottom: .9rem;
    }

    &__category-icon {
        display: inline-block;
        vertical-align: top;
        width: 2.3rem;
        height: 2.3rem;
        margin: -.1rem .4rem 0 -.1rem;
    }

    &__card {
        padding: 1.4rem 2rem 2rem 2rem;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    &__button {
        width: 100%;
        height: 4rem;
        margin-top: 1.3rem;
        cursor: pointer;
        outline: none;
        border: 0;
        border-radius: .4rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.title {
    display: flex;
    border-bottom-style: solid;
    border-bottom-width: .2rem;
    margin-top: -.5rem;
    margin-bottom: 1.5rem;

    &__text {
        border-bottom-style: solid;
        border-bottom-width: .2rem;
        padding-bottom: 1.4rem;
        margin-bottom: -.2rem;
    }
}

.gallery-img {
    display: block;
    width: 32rem;
    height: 22rem;
    margin: 3.1rem 0 3.2rem 0;
    border-radius: .4rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.details {
    li {
        display: flex;
    }

    &__content {
        flex: 1;
    }
}

.ratings {
    display: flex;

    &__rating {
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}