/*****************************************************************************************************************
    Fonts
*****************************************************************************************************************/

$font-family: 'Nunito Sans', sans-serif;
$font-calc-rems: 62.5%;

$font-normal: normal;
$font-semi-bold: 600;
$font-bold: 700;