/*****************************************************************************************************************
    Layout
*****************************************************************************************************************/

.wrapper {
    display: flex;
    width: 100%;

    &.index {
        min-height: 100%;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 6rem;
    }
}

aside {
    flex: 0 0 22rem;
    border-right-style: solid;
    border-right-width: .2rem;
}

main {
    flex: 1;
    padding: 4rem 2rem;
}