/*****************************************************************************************************************
    MD
*****************************************************************************************************************/

@media (min-width: 768px) and (max-width: 991px) {

    body {
        font-size: $font-500;
    }

    nav {
        .wrapper {
            padding: 0 4rem;
        }
    }

    aside {
        display: none;
    }

    .search {
        margin: 0 2rem 3.3rem 2rem;
    }

    .store-search {
        font-size: $font-600;
        font-weight: $font-semi-bold;
    }

    .grid-filters__results-total {
        font-size: $font-600;
        font-weight: $font-semi-bold;
    }

    .tags {
        &__tag {
            font-size: $font-400;
            font-weight: $font-bold;
        }
    }

    .grid {
        flex-wrap: wrap;
        width: 100%;
        max-width: 36rem;
        
        display: flex;
        justify-content: flex-start;
    
        &__item {
            flex: 0 0 32rem;
            margin: 4rem 2rem 0 2rem;
        }
    }

    .card {
        &__img-wrapper {
            height: 22rem;
        }

        &__desc {
            font-weight: $font-semi-bold;
        }
    
        &__meta-data {
            font-size: $font-400;
        }
    
        &__price {
            font-size: $font-400;
            
            figure {
                font-size: $font-700;
                font-weight: $font-bold;
            }
        }
    }

    .no-search-results {
        p {
            i {
                font-size: $font-900;
            }
        }
    
        h1 {
            font-size: $font-700;
        }
    
        h4 {
            font-size: $font-600;
            font-weight: $font-normal;
        }
    }

    /*****************************************************************************************************************
        Product Page
    *****************************************************************************************************************/

    .banner {
        height: 55rem;
        background-position: top center;

        &:after {
            top: 75%;
        }
    }

    .game-details {
        flex-direction: column;
    }

    .left-section {
        margin-right: 0;
        padding: 0 4rem 4rem 4rem;
    }
    
    .right-section {
        padding: 0 4rem 4rem 4rem;
    }

    .product-desc {
        padding: 3.2rem 4rem 4rem 4rem;
        text-align: center;

        &__name,
        &__price figure {
            font-size: $font-800;
            font-weight: $font-bold;
        }

        &__card {
            width: 60%;
            margin: 3.4rem auto auto auto;
            text-align: center;
        }

        &__button {
            font-weight: $font-bold;
        }
    }

    .title {
        &__text {
            font-size: $font-500;
            font-weight: $font-semi-bold;
        }
    }

    .summary {
        line-height: 3.8rem;
    }

    .details {
        li {
            margin-bottom: 1.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__label {
            width: 13.3rem;
        }
    }

    .ratings {
        display: flex;
        flex-direction: column;
    
        &__rating {
            width: 6rem;
            height: 6rem;
            margin: .5rem .5rem .5rem 0;
        }
    }
}