/*****************************************************************************************************************
    Theme Dark
*****************************************************************************************************************/

$white-100: #6C6C6C;
$white-200: #A2A2A5;
$white-300: #E1E1E2;

$primary: #A2A7D9;
$danger: #FFA590;

$gray-100: #16171E;
$gray-200: #222329;
$gray-300: #282930;
$gray-400: #303037;
$gray-500: #37383E;
$gray-600: #393A40;
$gray-700: #3B3C42;

/*****************************************************************************************************************
    Theme Dark - Index
*****************************************************************************************************************/

body.darkmode {
    background: $gray-200;
    color: $white-300;

    nav {
        background: $gray-700;
        box-shadow: 0 .1rem .6rem rgba(0, 0, 0, .4);

        a {
            color: $white-300;
        }
    }
    
    .button {
        border-color: $primary;
        background: transparent;
        color: $primary;
    
        &.active {
            background: $primary;
            border-color: $primary;
            color: $gray-100;
        }
    }
    
    aside {
        border-color: $gray-400;
    }

    .categories {
        li {
            .checkbox-container {        
                &:hover {
                    background: $gray-400;
    
                    .checkbox {
                        background: $primary;
                    }
    
                    .checkbox-label {
                        color: $white-300;
                    }
    
                    input {
                        &:checked ~ .checkbox {
                            background: $primary;
                        }
                    }
                }
            
                input {
                    &:checked ~ .checkbox {
                        background: $primary;
                    }
                }
            
                .checkbox {
                    background-color: $gray-700;
            
                    &:after {
                        border-color: $gray-100;
                    }
                }

                .checkbox-label {
                    color: $white-200;
                }
            }
        }
    }
    
    .store-search {
        background: $gray-700;
        border-color: $gray-700;
        color: $white-100;
    
        &:focus {
            border-color: $primary;
            color: $white-300;
        }
    
        &::-webkit-input-placeholder,
        &::placeholder {
            color: $white-200;
        }
    }
    
    .search-controls {
        &__icon i {
            color: $white-200;
        }
    
        &__btn-clear {
            color: $white-200;
    
            &:hover {
                color: $danger;
            }
        }
    }
    
    .tags {
        &__tag {
            background: $white-200;
            color: $gray-100;
    
            &:hover {
                background: $danger;
                color: $gray-100;
            }
        }
    }
    
    .line {
        background: $gray-400;
    }

    .card {
        &__img-wrapper {
            background: $gray-400;

            .card__controls {
                background: rgba($gray-400, .94);
    
                &__button {
                    background: $white-200;
                    color: $gray-100;

                    &:hover {
                        background: $primary;
                    }
                }
            }
        }
    
        &__desc {
            color: $white-300;

            a {
                color: inherit;
            }
        }
    
        &__meta-data {
            color: $white-200;

            a {
                color: inherit;
            }
        }
    
        &__price {
            color: $primary;

            a {
                color: inherit;
            }
        }
    }

    .no-search-results {
        h4 {
            color: $white-200;
    
            strong {
                color: $primary;
            }
        }
    }

/*****************************************************************************************************************
    Theme Dark - Product Page
*****************************************************************************************************************/

    .banner {
        &:after {
            background: linear-gradient(transparent, rgba(22, 23, 30, 1));
        }
    }

    .product-desc {
        &__category {
            color: $white-200;
        }

        &__category-icon {
            fill: $white-200;
        }

        &__card {
            background: $gray-700;
            box-shadow: 0 .1rem .6rem rgba(0, 0, 0, .4);
        }

        &__price {
            color: $primary;
        }

        &__button {
            background: $white-200;
            color: $gray-100;
    
            &:hover {
                background: $primary;
            }
        }
    }

    .title {
        border-color: $gray-400;
    
        &__text {
            color: $white-300;
            border-color: $white-300;
        }
    }

    .details {
        &__label {
            color: $white-200;
        }
    }
}